body {
  background-color: #282c34;
  min-height: 100vh;
}

label {
  color: white;
  text-align: center;
  font-size: larger;
  padding: 2%;
  margin: 5%;
}
.activity {
  text-align: center;
}

button {
  background-color: #282c34;
  border-color: white;
  border-radius: 5px;
  color: white;
}
