body {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  width: 100vw;
}

/* modifie le titre au-dessus de la liste déroulante */
label {
  color: white;
  text-align: center;
  font-size: 1.2em;
  padding: 2%;
  margin-top: 50%;
  margin-bottom: 15%;
}
.activity {
  text-align: center;
  padding: 50%;
}

/* modifie les boutons */
button {
  background-color: #282c34;
  border-color: white;
  border-radius: 5px;
  color: white;
}

/* modifie le bouton de la liste déroulante */
select {
  background-color: #282c34;
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 15px;
  padding: 5%;
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: center;
}